* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

#header-container {
    top: 0;
    width: 100%;
    background-color: #808080;
    padding: 10px; 
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px; 
}

.navbar a {
    margin: 0 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #f7f7f7; 
    padding:20px;
}

.home-content {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align:center;
}

.home-content h1 {
    font-size: 24px;
    font-weight: bold;
}
.home-content h2{
    font-size: 20px;
}

.home-content ul{
    text-decoration:underline;
}

.home-content li {
    margin-bottom: 10px; 
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
    margin: 20px 0;
}

.styled-table th, .styled-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}

.styled-table thead {
    background-color: #333;
    color: white;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}
.staffed-hours{
    background-color: lightgreen; 
    font-weight: bold; 
}
input[type="submit"] {
    width: 150px; 
    height: 30px; 
    font-size: 16px; 
}
label, input[type="text"], input[type="email"], input[type="radio"] {
    font-size:18px;
    padding:5px;
    margin-bottom:10px;
}
.skills-container {
    background-color: #f7f7f7; 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px;
}

.skills-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.skills-container ul {
    list-style-type: none; 
    padding-left: 0; 
}

.skills-container li {
    font-size: 18px;
    margin-bottom: 10px; 
}


.skills-container li::before {
    content: "\2022";
    color: #007bff; 
    margin-right: 10px; 
}

@media screen and (max-width: 768px) {
    #header-container {
        padding: 10px;
    }

    .logo {
        font-size: 24px;
    }

    .navbar {
        justify-content: center;
    }

    .navbar a {
        font-size: 16px;
    }
}