<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/vue@3.3.4"></script>
</head>
<body>
    <div id="app">
        <div v-if="showBooks">
            <p v-for="(book, index) in books" :key="index">
                {{ book.title }} - {{ book.pageNumber }} {{ book.author }} - {{ book.age }}
            </p>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">currently showing books</div>
        
        <div>
            <h3>Add a New Book</h3>
            <input v-model="newBook.title" placeholder="Title">
            <input v-model="newBook.pageNumber" placeholder="Page Number">
            <input v-model="newBook.author" placeholder="Author">
            <input v-model="newBook.age" placeholder="Age">
            <button @click="addBook">Add Book</button>
        </div>
    </div>

    <script src="app1.js"></script>
</body>
</html>
